@model IEnumerable<AspDotNet_MVC.Models.Entitis.SanPham>
@inject AspDotNet_MVC.IRepositorys.IDanhMucSPRepo _repo;
@{
    ViewData["Title"] = "Index";
}
    
<h3>Quản lý sản phẩm</h3>

<p>
    <a class="text-decoration-none btn btn-outline-primary float-end" asp-action="Create">Tạo mới sản phẩm</a> 
</p>
<table class="table">
    <thead>
        <tr>
           @*  <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
               TenDM
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
                <td>
                    <img src="~/img/@item.ImgFile" width="60px"></img>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
               @foreach (var dm in await _repo.GetAll())
                    {
                        if (dm.Id == item.IdDMSP)
                        {
                            @dm.TenDM;
                            break;
                        }
                    }
                </td>
            <td>
                    <form method="post" action="@Url.Action("AddToCart", "SanPham")">
                        <div class="d-flex">
                            <input type="hidden" name="id" value="@item.Id" />
                            <div class="form-group">
                                <input type="text" name="amount" id="amount" class="form-control" />
                            </div>
                            <input type="submit" value="Add to Cart" class="btn btn-light" />
                        </div>
                    </form>
            </td>
            <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Detail", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                   
            </td>
        </tr>
}
    </tbody>
</table>
